:root {
    --bg: white;
    --fg: black;
    --header: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1f1f1f;
        --fg: white;
        --header: rgba(0, 0, 0, 0.5);
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0px;
}

input {
    width: 12rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 0px;
}

button {
    border: 1px solid black;
    border-radius: 0px;
}

.section {
    width: 100%;
}

.readout {
    font-size: 4rem;
}

.mainDivider {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mainDataDiv {
    text-align: center;
}

.historyDivider {
    width: 100%;
}

#tempCanvas {
    width: 100px;
}

#tempNow::after {
    content: "°C";
}

#humNow::after {
    content: "%";
}

#titleBar {
    background-color: var(--header);

    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
}

#titleBar h1 {
    margin: 0px;
    padding: 1rem;
}

#titleBar a {
    height: 100%;
    /*margin: 1rem;*/
    padding: 2rem;
    background-color: transparent;
    color: var(--fg);
}

#titleBar a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--fg);
}

#container {
    margin: 1rem;
}

#saveButton {
    background-color: var(--bg);
    color: var(--fg);
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
}

#saveButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--fg);
}